<h1>Accesses</h1>


<p *ngIf="!accesses"><em>Loading...</em></p>
<div class="column">
  <div class="row">
    <div class="form-group col-sm col-lg">
      <label for="ip">IP</label>
      <input [(ngModel)]="ip" (keyup)="change()" placeholder="IP" class="form-control" />
    </div>
    <div class="form-group col-sm col-lg">
      <label for="Path">Path</label>
      <input [(ngModel)]="path" (keyup)="change()" placeholder="Path" class="form-control" />
    </div>
  </div>
  <table class='table table-striped' *ngIf="accesses">
    <thead>
      <tr>
        <th>Id</th>
        <th>IP</th>
        <th>URL</th>
        <th>Params</th>
        <th>Browser</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let access of accesses">
        <td>{{ access._id }}</td>
        <td>{{ access.ip }}</td>
        <td>{{ access.url }}</td>
        <td>{{ access.params }}</td>
        <td>{{ access.browser }}</td>
      </tr>
    </tbody>
  </table>
</div>
