doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/javascripts/access.js')
    script(src='/javascripts/cart.js')
  body
    button(type='button' onclick="window.location='/';") Landing
    button(type='button' onclick="window.location='/home';") Comprar
    button(type='button' onclick="cart.cartRedirect()") Carrinho
    block content